﻿<form id="addTax" name="addTax" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("AddTax")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab >
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-7">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="taxname" type="text" name="taxname" ng-model="vm.taxes.nameOfTax" required maxlength="32" minlength="2" class="validate form-control">
                                <label for="taxName" class="form-label">@L("TaxName")</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="tax" type="number" name="tax" ng-model="vm.taxes.tax" required maxlength="32" minlength="1" class="validate form-control">
                                <label for="tax" class="form-label">@L("Tax")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="addTax.$invalid">
            @L("Save")
        </button>
    </div>
</form>