﻿<form id="addArticalToBill" name="addArticalToBill" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Додавање на артикал во сметка</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-lg-8">
                <input type="text" class="form-control" placeholder="Барај..." id="input" ng-model="input" ng-keydown="removeTagOnBackspace($event)" ng-keyup="$event.keyCode === 13 && vm.searchArticals(input)" />
            </div>
            <div class="col-lg-2">
                <button class="btn btn-primary waves-effect" type="button" ng-click="vm.searchArticals(input)">
                    Барај <i class="material-icons" style="font-size:small;">
                        search
                    </i>
                </button>
            </div>
           </div>
            <div class="row clearfix" style="margin-top:10px;margin-bottom:25px;max-height:150px; overflow: auto;border-style: solid;">
                <div >
                    <table class="table" arrow-selector>
                      
                        <tbody style="font-size:small">
                        <tr ng-repeat="item in articals" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>                   
                        </tr>
                            </tbody>
                    </table>
                </div>
            </div>
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-8">
                <div class="form-group form-float">
                    <div class="form-line focused"> 
                        <input id="exampleFormControlSelect2" type="text"  name="description" value="{{articals[selectedRow].description}}"  class="validate form-control" readonly>          
                        <label for="description" class="form-label" style="text-align:center">@L("Description")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line focused">
                        <input id="exampleFormControlSelect2" type="text" name="description" value="{{articals[selectedRow].lastModificationTime | date:'dd/MM/yyyy'}}" class="validate form-control" readonly style="text-align:center">
                        <label for="description" class="form-label">@L("Date")</label>
                    </div>
                </div>
            </div>
        </div>

            <div class="row clearfix" style="margin-top:10px;">
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <input id="priceWithTax" type="number" name="priceWithTax"  required maxlength="32" minlength="2" class="validate form-control" value="{{articals[selectedRow].calculatePrice}}" readonly style="text-align:center">
                            <label for="priceWithTax" class="form-label">@L("PriceWithTax")</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <input id="name" type="text" name="name" value="{{articals[selectedRow].measures.measureName}}" required maxlength="32" minlength="2" class="validate form-control" readonly >
                            <label for="name" class="form-label">@L("Measure")</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <input id="name" type="text" name="name"  required maxlength="32" minlength="2" class="validate form-control" value="{{articals[selectedRow].stash}}" readonly style="text-align:center">
                            <label for="name" class="form-label">@L("Stash")</label>
                        </div>
                    </div>
                </div>
            </div>
         
        
            <div class="row clearfix" style="margin-top:10px;">
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <input id="emailAddress" type="number" name="emailAddress" ng-model="vm.bills.amount" required maxlength="32" class="validate form-control" style="text-align:center">
                            <label for="emailAddress" class="form-label">Количина</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                        <div class="form-line focused">
                            <input id="marza" type="number" name="marza"  required maxlength="5" class="validate form-control" style="text-align:center" ng-model="marza">
                            <label for="marza" class="form-label">Маржа</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-float">
                            <div class="form-line focused">
                                <input id="sellPrice" type="number" name="emailAddress"  required maxlength="32" minlength="2" class="validate form-control" style="font-size:large;text-align:center" value="{{articals[selectedRow].calculatePrice +(articals[selectedRow].calculatePrice * marza / 100)}}">
                                <label for="sellPrice" class="form-label">Продажна цена</label>
                            </div>
                    </div>
                </div>
            </div>
      


        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="addArticalToBill.$invalid">
            Додади
        </button>
    </div>
</form>
<style>
    .selected {
        background-color: blue;
        color: white;
        font-weight: bold;
    }
</style>