﻿<div class="row clearfix" ng-controller="app.views.partners.partners as vm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Партнери</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="card main-content">
        

            <div class="body table-responsive">
                <div class="row">
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="Барај..." id="input" ng-model="input" ng-keydown="removeTagOnBackspace($event)" ng-keyup="$event.keyCode === 13 && vm.searchPartners(input)" />
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary waves-effect" type="button" ng-click="vm.searchPartners(input)" style="font-size:large">
                            Барај <i class="material-icons">
                                search
                            </i>
                        </button>
                    </div>


                  
                </div>

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>@L("Id")</th>
                            <th>@L("Name")</th>
                            <th>@L("Company")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="partner in vm.partners">
                            <td>{{partner.id}} </td>
                            <td>{{partner.name}}</td>
                            <td>{{partner.company}}</td>  
                            <td class="italic" 
    ng-class="{hover: hover}"
    ng-init="hover = false"
    ng-mouseenter="hover = true"
    ng-mouseleave="hover = false" ><i class="material-icons">add</i></td>
                        </tr>
                    </tbody>
                </table>


                <!-- ******************************************************** -->

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-effect" ng-click="vm.cancel()">
                @L("Cancel")
            </button>
        </div>
    </div>
 
</div>