﻿<div class="row clearfix" ng-controller="app.views.bill.newBill as vm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="header">
                    <h2>
                        @L("NewBill")
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <i class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></i>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6" style="margin-left:10px;">
                        <h4>Датум : {{date | date:'dd/MM/yyyy'}}</h4>
                    </div>
                </div>
           
                <div class="row">

                    <div class="col-md-6" style="margin-left:10px;">

                        <input type="text" class="form-control" placeholder="Опис за Сметката" />

                    </div>

                    <div class="col-md-2" style="margin-left:10px;">

                       

                    </div>
                 
                    <div class="col-md-3">
                        @*<button type="button" data-toggle="modal" class="btn btn-primary waves-effect  waves-float pull-right" ng-click="vm.addBuyer()" style="font-size:large">
                            <i class="material-icons">person_add</i>
                            Додади Купувач
                        </button>*@

                        <select class="form-control" id="exampleFormControlSelect2" ng-model="vm.bills.partnerId"
                                ng-options="partner.id as partner.name for partner in partners" required>
                            <option value='' disabled>Одберете Партнер</option>
                        </select>
                    </div>

                </div>

                <div class="body table-responsive">
                    <!-- ******************************************************** -->
                    <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float  pull-right" ng-click="vm.openAddArtical()">
                        <i class="material-icons">add</i>
                    </button>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="text-align:center">@L("Id")</th>
                                <th>@L("Name") на артиклот</th>
                                <th style="text-align:center">@L("Mesuere")</th>
                                <th style="text-align:center">Количина</th>
                                <th style="text-align:center">@L("PriceWithTax")</th>

                                <th style="text-align:center">@L("Total")</th>
                                <th>@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="newBill in vm.newBill">
                                <td style="text-align:center">{{newBill.id}}</td>
                                <td>{{artical.name}}</td>
                                <td style="text-align:center">{{newBill.measures.measureName}}</td>
                                <td style="text-align:center">{{newBill.stash}}</td>
                                <td style="text-align:center">{{newBill.priceWithoutTax}} ден.</td>

                                <td style="text-align:center">{{newBill.calculatePrice}} ден.</td>
                                <td class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.edit(artical)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(artical)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>

                                <td></td>
                                <td> </td>
                                <td style="font-size:x-large;color:blue;border-bottom:solid">Севкупно :</td>
                                <td style="font-size:x-large;color:blue;border-bottom:solid"></td>
                                <td style="font-size:x-large;color:blue;border-bottom:solid"></td>
                                <td style="font-size:x-large;color:blue;border-bottom:solid">Денари</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row" style="margin-left:10px;">
                        <div class="col-md-5">
                            <input id="isactive" type="checkbox" name="IsActive" ng-model="vm.user.isActive" checked class="form-control" style="font-size:x-large;" />
                            <label style="font-size:x-large;" for="isactive" class="form-label">@L("OpenBill")</label>
                        </div>
                        <div class="col-lg-7">
                            <button type="button" data-toggle="modal" class="btn btn-primary  waves-effect" ng-click="vm.print()" style="font-size:large;float:right;" @*onclick="window.open('', '_self', ''); window.close();"*@>
                                <i class="material-icons">print</i>
                                Печати Сметка
                            </button>
                        </div>
                    </div>

                    <!-- ******************************************************** -->

                </div>
            </div>
        </div>
    </div>