﻿<form id="remDetails" name="redDetails" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>Детално</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-8">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nameOfReminder" type="text" name="nameOfReminder" ng-model="vm.reminder.nameOfReminder" required maxlength="32" minlength="2" class="validate form-control" readonly>
                        <label for="nameOfReminder" class="form-label">@L("Name") на Потсетник</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line focused">
                        <input id="dueDate" type="date" name="nameOfReminder" ng-model="vm.reminder.dueDate" required maxlength="32" minlength="2" class="validate form-control" readonly>
                        <label for="dueDate" class="form-label">Краен Датум</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <textarea id="remindaerMessage" type="" name="remindaerMessage" ng-model="vm.reminder.message" required maxlength="32" minlength="2" class="validate form-control"  style="height:150px;" readonly></textarea>
                        <label for="remindaerMessage" class="form-label">Порака</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Exit")
        </button>
       
    </div>
</form>