﻿@using System.Web.Optimization
@Scripts.Render("~/Bundles/home-index")
<div ng-controller="app.views.home as vm">

    <!-- Widgets -->

    <div class="row clearfix">
        <a href="#/newBill" target="_blank"  @*onclick="window.open('#/newBill', 
                         'newwindow', 
                         'width=1000,height=680'*@); 
              return false;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect pointer">
                    <div class="icon">
                        <i class="material-icons">playlist_add</i>
                    </div>
                    <div class="content">
                        <div class="text" style="font-size:larger">Нова Сметка</div>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect pointer">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">Отворени Сметки</div>
                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect pointer">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">Сметки</div>
                    <div class="number count-to" data-from="0" data-to="15"  data-speed="1000" data-fresh-interval="1"></div>
                </div>
            </div>
        </div>
        <a href="#/partners">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-orange hover-expand-effect pointer">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="text">Партнери</div>
                        <div class="number">{{countPartner}}</div>
                    </div>
                </div>
            </div>
        </a>

    </div>
    <div class="row clearfix">
        <a href="#/outOfStock">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-red hover-expand-effect pointer">
                    <div class="icon">
                        <i class="material-icons">storage</i>
                    </div>
                    <div class="content">
                        <div class="text">Листа за Набавка</div>
                        <div class="number">{{vm.countOutOfStock}}</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#/articals">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-blue hover-expand-effect pointer">
                    <div class="icon">
                        <i class="material-icons">storage</i>
                    </div>
                    <div class="content">
                        <div class="text">Артикли</div>
                        <div class="number">{{vm.countArtical}}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- #END# Widgets -->
    <!--Reminder-->
    <div class="row clearfix">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-5">
            <div class="card main-content">
                <div class="header">
                    <h2>
                        Потсетник
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <i class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></i>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <!-- ******************************************************** -->
                    <uib-tabset class="tab-container tabbable-line">
                        <uib-tab heading="Нови">
                            <table class="table table-hover table-striped" at-config="config">
                                    <thead>
                                        <tr>
                                            <th>@L("Name")</th>
                                            <th>Порака</th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="reminder in vm.reminders">
                                            <td class="pointer" ng-click="vm.details(reminder)">{{reminder.nameOfReminder}}</td>
                                            <td  class="pointer" ng-click="vm.details(reminder)">{{reminder.message | limitTo:12}} {{reminder.message.length > 20 ? '...' : ''}}</td>
                                            <td class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">menu</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.details(reminder)"><i class="material-icons">list</i>Детално</a></li>
                                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.editReminder(reminder)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(reminder)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                            <div class="text-center col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin:0!important" ng-show="vm.countPages">
                                <ul class="pagination pagination-sm">
                                    <li>
                                        <a href="" class="btn glyphicon glyphicon-fast-backward marginRightFive pageButtons" ng-click="vm.getAllReminders(1)" ng-show="vm.pageCheckUndefined !== 1"></a>
                                    </li>
                                    <li>
                                        <a href="" class="btn glyphicon glyphicon-chevron-left marginRightFive pageButtons" ng-click="vm.getAllReminders(vm.pageCheckUndefined - 1)" ng-show="vm.pageCheckUndefined !== 1"></a>
                                    </li>
                                    <li ng-repeat="page in vm.totalPagesCount | limitTo:vm.limitResults:(vm.pageCheckUndefined + vm.limitResultsFrom) track by $index">
                                        <a href="" id="{{page}}" class="btn marginRightFive pageButtons" ng-click="vm.getAllReminders(page)" value="{{page}}">{{page}}</a>
                                    </li>
                                    <li>
                                        <a href="" class="btn glyphicon glyphicon-chevron-right marginRightFive pageButtons" ng-click="vm.getAllReminders(vm.pageCheckUndefined + 1)" ng-show="vm.pageCheckUndefined !== vm.countPages"></a>
                                    </li>
                                    <li>
                                        <a href="" class="btn glyphicon glyphicon-fast-forward marginRightFive pageButtons" ng-click="vm.getAllReminders(vm.countPages)" ng-show="vm.pageCheckUndefined !== vm.countPages"></a>
                                    </li>
                                </ul>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Стари">
                            <table class="table table-hover table-striped" at-config="config">                              
                                    <thead>
                                        <tr>
                                            <th>@L("Name")</th>    
                                            <th>Порака</th>
                                            <th>@L("Actions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="reminder in vm.pastEvents">
                                            <td class="pointer" ng-click="vm.details(reminder)">{{reminder.nameOfReminder}}</td>     
                                            <td class="pointer" ng-click="vm.details(reminder)">{{reminder.message | limitTo: 12}} {{reminder.message.length > 20 ? '...' : ''}}</td>
                                            <td class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">menu</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.details(reminder)"><i class="material-icons">list</i>Детално</a></li>
                                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.editReminder(reminder)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(reminder)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                            </table>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                            <div class="text-center col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin:0!important" ng-show="vm.countPages2">
                                <ul class="pagination pagination-sm">
                                    <li>
                                        <a href="" class="btn glyphicon glyphicon-fast-backward marginRightFive pageButtons" ng-click="vm.getPastReminders(1)" ng-show="vm.pageCheckUndefined !== 1"></a>
                                    </li>
                                    <li>
                                        <a href="" class="btn glyphicon glyphicon-chevron-left marginRightFive pageButtons" ng-click="vm.getPastReminders(vm.pageCheckUndefined - 1)" ng-show="vm.pageCheckUndefined !== 1"></a>
                                    </li>
                                    <li ng-repeat="page2 in vm.totalPagesCount2 | limitTo:vm.limitResults2:(vm.pageCheckUndefined + vm.limitResultsFrom2) track by $index">
                                        <a href="" id="{{page2}}" class="btn marginRightFive pageButtons" ng-click="vm.getPastReminders(page2)" value="{{page2}}">{{page2}}</a>
                                    </li>
                                    <li>
                                        <a href="" class="btn glyphicon glyphicon-chevron-right marginRightFive pageButtons" ng-click="vm.getPastReminders(vm.pageCheckUndefined + 1)" ng-show="vm.pageCheckUndefined !== vm.countPages2"></a>
                                    </li>
                                    <li>
                                        <a href="" class="btn glyphicon glyphicon-fast-forward marginRightFive pageButtons" ng-click="vm.getPastReminders(vm.countPages2)" ng-show="vm.pageCheckUndefined !== vm.countPages2"></a>
                                    </li>
                                </ul>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                        <!-- ******************************************************** -->
                        <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" ng-click="vm.openAddReminder()">
                            <i class="material-icons">add</i>
                        </button>
                </div>
            </div>
        </div>
    </div>

    <!--#END# Reminder-->

</div>