﻿<form id="addArticals" name="addArticals" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("AddArtical")</span>
        </h4>
    </div>
    <div class="modal-body">
       
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="taxname" type="text" name="taxname" ng-model="vm.articals.name" required maxlength="32" minlength="2" class="validate form-control" >
                                <label for="taxName" class="form-label">@L("Name")</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="measure" class="form-label">@L("Mesuere")</label>
                                <select id="tax" class="form-control" ng-model="vm.articals.MeasuresId"
                                        ng-options="measure.id as measure.measureName for measure in vm.measure track by measure.id">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="stash" type="number" name="stash" ng-model="vm.articals.stash" required maxlength="32" minlength="1" class="validate form-control">
                                <label for="stash" class="form-label">@L("Stash")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="priceWithoutTax" type="text" name="priceWithoutTax" ng-model="vm.articals.priceWithoutTax" required maxlength="32" minlength="2" class="validate form-control">
                                <label for="priceWithoutTax" class="form-label">@L("PriceWithoutTax")</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="measure" class="form-label">@L("Tax")</label>
                                <select id="tax" class="form-control" ng-model="vm.articals.taxeId"
                                        ng-options="taxes.id as taxes.nameOfTax for taxes in vm.taxes track by taxes.id">
                                </select>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <textarea id="description" name="description" ng-model="vm.articals.description" required maxlength="32" minlength="2" class="validate form-control"></textarea> 
                                <label for="description" class="form-label">@L("Description")</label>
                            </div>
                        </div>
                    </div>   
               </div>
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="addArticals.$invalid">
            @L("Save")
        </button>
    </div>
</form>