﻿<div class="row clearfix" ng-controller="app.views.articals.articals as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("Articals")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Барај..." id="input" ng-model="input" ng-keydown="removeTagOnBackspace($event)" ng-keyup="$event.keyCode === 13 && vm.searchArticals(input)" />
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary waves-effect" style="font-size:large" type="button" ng-click="vm.searchArticals(input)">
                            Барај <i class="material-icons">
                                search
                            </i>
                        </button>
                    </div>

                   
                    <div class="col-lg-6">
                        <button type="button" data-toggle="modal"  class="btn btn-primary  waves-effect" ng-click="vm.openAddArtical()" style="float:right; font-size:large">
                            + Додади нов Артикал
                        </button>
                    </div>
                </div>
                <!-- ******************************************************** -->
             <h4>Вкупен број Артикли : {{vm.count}}</h4>
                   
            
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>@L("Id")</th>
                                <th class="sorter" ng-click="vm.getArtByName()">@L("Name") на артиклот </th>
                                <th class="sorter" ng-click="vm.getArticlasByDescrpiton()">@L("Description")</th>
                                <th>@L("Mesuere")</th>
                                <th class="sorter" ng-click="vm.getArtByStash()">@L("Stash")</th>
                                <th  class="sorter" style="text-align:center;" ng-click="vm.sortByPrice()">@L("PriceWithoutTax")</th>
                                <th>@L("Tax")</th>
                                <th class="sorter" style="text-align:center;" ng-click="vm.sortByPriceWithTax()">@L("PriceWithTax")</th>
                                <th class="sorter" style="text-align:center;" ng-click="vm.sortByDate()">@L("Date")</th>
                                <th>@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="artical in vm.articals">
                                <td style="text-align:center">{{artical.id}}</td>
                                <td>{{artical.name}}</td>
                                <td>{{artical.description}}</td>
                                <td style="text-align:center">{{artical.measures.measureName}}</td>
                                <td style="text-align:center">{{artical.stash}}</td>
                                <td style="text-align:center">{{artical.priceWithoutTax}} ден.</td>
                                <td style="text-align:center">{{artical.taxe.tax}} %</td>
                                <td style="text-align:center">{{artical.calculatePrice}} ден.</td>
                                <td style="text-align:center">{{artical.lastModificationTime | date:'dd.MM.yyyy'}}</td>
                                <td class="dropdown" style="float:right">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.edit(artical)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(artical)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- ******************************************************** -->

                </div>
        </div>
    </div>
</div>