﻿<div class="row clearfix" ng-controller="app.views.articals.outOfStock as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    Листа за Набавка
                </h2>
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
               
                <!-- ******************************************************** -->



                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>@L("Id")</th>
                            <th>@L("Name") на артиклот</th>
                            <th>@L("Description")</th>
                            <th>@L("Mesuere")</th>
                            <th>@L("Stash")</th>
                            <th style="text-align:center;">@L("PriceWithoutTax")</th>
                            <th style="text-align:center;">@L("PriceWithTax")</th>
                            <th style="text-align:center;">@L("Date")</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="artical in vm.articals">
                            <td style="text-align:center">{{artical.id}}</td>
                            <td>{{artical.name}}</td>
                            <td>{{artical.description}}</td>
                            <td style="text-align:center">{{artical.measures.measureName}}</td>
                            <td style="text-align:center">{{artical.stash}}</td>
                            <td style="text-align:center">{{artical.priceWithoutTax}} ден.</td>
                            <td style="text-align:center">{{artical.calculatePrice}} ден.</td>
                            <td style="text-align:center">{{artical.lastModificationTime | date:'dd.MM.yyyy'}}</td>
                           
                        </tr>
                    </tbody>
                </table>
                <!-- ******************************************************** -->

            </div>
        </div>
    </div>
</div>