﻿<form id="editMeauser" name="editMeauser" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("AddMeasure")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="measureName" type="text" name="measureName" ng-model="vm.measure.measureName" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="measureName" class="form-label">@L("Name")</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="editMeauser.$invalid">
            @L("Save")
        </button>
    </div>
</form>