﻿<form id="details" name="details" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("Details") за Партнерот</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="name" type="text" name="name" ng-model="vm.partners.name" required maxlength="32" minlength="2" class="validate form-control" disabled>
                                <label for="name" class="form-label">@L("Name")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="company" type="text" name="company" ng-model="vm.partners.company" required maxlength="32" minlength="2" class="validate form-control" disabled>
                                <label for="company" class="form-label">@L("Company")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="address" type="text" name="address" ng-model="vm.partners.adress" required maxlength="32" minlength="2" class="validate form-control" disabled>
                                <label for="address" class="form-label">@L("Address")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="accountNubmer" type="text" name="accountNubmer" ng-model="vm.partners.accountNubmer" required maxlength="32" minlength="2" class="validate form-control" disabled>
                                <label for="accountNubmer" class="form-label">@L("AccountNubmer")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="taxNumber" type="text" name="taxNumber" ng-model="vm.partners.taxNumber" required maxlength="32" minlength="2" class="validate form-control" disabled>
                                <label for="taxNumber" class="form-label">@L("TaxNumber")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="phone" type="text" name="phone" ng-model="vm.partners.phone" required maxlength="32" minlength="2" class="validate form-control" disabled>
                                <label for="phone" class="form-label">@L("Phone")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="emailAddress" type="text" name="emailAddress" ng-model="vm.partners.email" required maxlength="32" minlength="2" class="validate form-control" disabled>
                                <label for="emailAddress" class="form-label">@L("EmailAddress")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="percent" type="text" name="percent" ng-model="vm.partners.percent" required maxlength="32" minlength="2" class="validate form-control" disabled>
                                <label for="percent" class="form-label">@L("Percent")</label>
                            </div>
                        </div>
                    </div>
                </div>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Exit")
        </button>
    </div>
</form>