﻿<div class="row clearfix" ng-controller="app.views.partners.partners as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("Partners")
                </h2>
               
                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" ng-if="vm.isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <div class="body table-responsive">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="Барај..." id="input" ng-model="input" ng-keydown="removeTagOnBackspace($event)" ng-keyup="$event.keyCode === 13 && vm.searchPartners(input)" />
                    </div>
                       <div class="col-lg-2">
                    <button class="btn btn-primary waves-effect" type="button" ng-click="vm.searchPartners(input)" style="font-size:large">Барај <i class="material-icons">
                                                                                                                       search</i></button>
                    </div>


                    <div class="col-lg-6">
                        <button type="button" data-toggle="modal" class="btn btn-primary  waves-effect" ng-click="vm.openAddPartner()" style="float:right;font-size:large">
                            <i class="material-icons">person_add</i>
                             Додади нов Партнер
                        </button>
                    </div>
                </div>
              
               <h4>Вкупен број на Партнери : {{vm.count}}</h4>
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>@L("Id")</th>
                                        <th>@L("Name")</th>
                                        <th>@L("Company")</th> 
                                        <th>@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="partner in vm.partners">
                                        <td>{{partner.id}} </td>
                                        <td>{{partner.name}}</td>
                                        <td>{{partner.company}}</td>
                                        <td class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">menu</i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.details(partner)"><i class="material-icons">dehaze</i>@L("Details")</a></li>
                                                <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.editPartner(partner)"><i class="material-icons">create</i>@L("Edit")</a></li>
                                                <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(partner)"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        <!-- ******************************************************** -->

                </div>
                </div>
            </div>
</div>